<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.company %> - <%= r.symbol %> - <%= r.t_date %> - <%= r.price_open %> - <%= r.price_close %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
